In [14]:
import pandas as pd
import numpy as np

import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.datasets import make_hastie_10_2
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.metrics import plot_confusion_matrix

In [8]:
avila = pd.read_csv("training_dataset.csv")
data = pd.DataFrame(avila)
data = data.set_index('id')
data.head()

,0,1,2,3,4,5,6,7,8,9,author
id,,,,,,,,,,,
0,0.142636,0.431070,0.032912,-0.486796,0.261718,-1.013906,-0.081827,0.330352,0.438262,-0.761088,Ubuntius
1,0.019197,0.525284,0.068476,0.166658,0.261718,0.231839,0.635431,0.133209,0.313536,-0.002374,Philippus
2,0.093260,-0.087108,-2.268081,-0.164963,0.261718,1.477585,0.635431,-0.370641,0.126447,1.078357,Marcus
3,-0.017834,-0.228430,0.370770,1.293671,0.172340,-0.058835,0.446679,1.609556,2.277968,-0.172339,Clarius
4,0.080916,-0.142067,0.171611,-0.470713,0.261718,-0.141884,-0.044076,0.375551,0.032902,0.009898,Philippus

In [9]:
X = data.drop(columns=['author'])
y = data.author

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
X, y = make_hastie_10_2(random_state=0)

clf = GradientBoostingClassifier(n_estimators=700, learning_rate=0.05, max_depth=7, random_state=0, min_samples_leaf=10).fit(X_train, y_train)
clf.score(X_test, y_test)

0.9987520798668885

## TEST

In [147]:
avilo = pd.read_csv("test_dataset.csv")
datatest = pd.DataFrame(avilo)
datatest = datatest.set_index('id')
datatest.shape

(8012, 10)

In [148]:
X.shape

(12000, 10)

In [149]:
price = clf.predict(datatest)

In [150]:
datatest['author'] = price
prueba = datatest[['author']]

In [151]:
prueba.head()

       author
id
0   Philippus
1   Philippus
2      Marcus
3      Marcus
4      Marcus

In [152]:
prueba.to_csv("test.csv")