In [30]:
import pandas as pd
df = pd.read_csv('./geoesp.csv')

In [31]:
df

,Unnamed: 0,_id,lat,lng,name,oficina_principal,totalOffices
0,0,5d231e0ae0aeedf6e06cd897,40.738567,-73.987199,SpaBooker,"{'type': 'Point', 'coordinates': [-73.987199, ...",1.0
1,1,5d231e0ae0aeedf6e06cbdd7,40.739341,-73.988357,HealthiNation,"{'type': 'Point', 'coordinates': [-73.988357, ...",1.0
2,2,5d231e0ae0aeedf6e06cb8aa,40.737721,-73.987725,Special Ops Media,"{'type': 'Point', 'coordinates': [-73.987725, ...",1.0
3,3,5d231e0ae0aeedf6e06ce298,40.740154,-73.986742,Mashable,"{'type': 'Point', 'coordinates': [-73.9867417,...",1.0
4,4,5d231e0ae0aeedf6e06ccbbd,40.740207,-73.987002,Return Path,"{'type': 'Point', 'coordinates': [-73.987002, ...",1.0
...,...,...,...,...,...,...,...
521,521,5d231e0ae0aeedf6e06cdbb7,40.779959,-73.976151,Healogica,"{'type': 'Point', 'coordinates': [-73.976151, ...",1.0
522,522,5d231e0ae0aeedf6e06cbb08,40.771778,-73.951350,WebVet,"{'type': 'Point', 'coordinates': [-73.9513502,...",1.0
523,523,5d231e0ae0aeedf6e06cb243,40.781159,-73.978332,RayV,"{'type': 'Point', 'coordinates': [-73.978332, ...",1.0
524,524,5d231e0ae0aeedf6e06cbb39,40.716144,-74.035070,Accoona,"{'type': 'Point', 'coordinates': [-74.03507, 4...",1.0
525,525,5d231e0ae0aeedf6e06cb391,40.694731,-73.983268,Etsy,"{'type': 'Point', 'coordinates': [-73.983268, ...",1.0

In [32]:
df = df[["lat","lng","name","totalOffices"]]

In [33]:
df.lat = df.lat.astype('float32')
df.lng = df.lng.astype('float32')

In [34]:
df.to_json("cleaned.json",orient="records")